@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #0a0a0a;
  background: #fffaf0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}
